# Node modules
node_modules/

# Angular build and cache folders
dist/
.angular/
out-tsc/

# NPM lock file 
package-lock.json

# Compiled output
*.tsbuildinfo
*.js
*.js.map

# Environment files 
src/environments/environment*.ts

# Logs
npm-debug.log*

# IDE/editor folders
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Coverage and temp
coverage/
tmp/
temp/
