@use 'helper';

:host {
  z-index: 10;

  .header-container {
    display: flex;
    align-items: center;
    font-size: helper.$header-font-size;
    letter-spacing: 1px;
    box-shadow: 0px 3px helper.$box-shadow;
    height: 100px;
    .side-nav {
      &.show-nav {
        display: none;
      }
    }
    .app-logo {
      flex: 0%;
      padding: 0 20px 0px 70px;
      font-size: helper.$title-font-size;
      .app-title {
        .app-title-content {
          cursor: pointer;
          .highlight {
            color: helper.$highlight-color;
            font-weight: bold;
            font-size: helper.$highlight-font-size;
          }
        }
      }
    }

    .links-container {
      flex: 75%;
      display: flex;
      .header-link {
        &:hover {
          border-color: helper.$highlight-color;
          cursor: pointer;
          color: helper.$highlight-color;
        }
        align-items: center;
        border-bottom: 3px solid transparent;
        display: flex;
        margin: 0 20px;
        padding: 0 10px;
        height: 100px;
      }
    }
  }

  @media (max-width: helper.$breakpoint-mobile) {
    .header-container {
      .show-nav {
        display: block !important;

        .menu {
          margin: 0 20px;
          cursor: pointer;
        }
      }

      .app-logo {
        padding: 0 !important;
      }

      .hide-header {
        display: none !important;
      }
    }
  }
}
