@use "helper";

.add-user-container {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .form-container {
    border: 1px solid helper.$backdrop;
    padding: 20px 10px;
    border-radius: 8px;
    flex: 1;
    overflow: auto;

    .form {
      display: grid;
      grid-template-columns: auto auto;

      @media (max-width: helper.$breakpoint-mobile) {
        grid-template-columns: auto;
      }
    }
  }
  .action-container {
    padding: 20px 0px;
    text-align: right;

    @media (max-width: helper.$breakpoint-mobile) {
      display: flex;
      gap: 10px;
      app-button {
        width: 50%;
      }
    }
  }
}
