$backdrop: #80808078;
$background-highlight: #4169e175;
$basic-clear: #b1b1b14d;
$basic-white: #fff;
$black: #000;
$box-shadow: #80808052;
$error-color: #d32f2f;
$highlight-color: #4169e1;
$modal-backdrop: #8080804d;
$task-background: #f9f9f9;
