@use "helper";

.add-task-container {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .form-container {
    border: 1px solid helper.$backdrop;
    padding: 20px 10px;
    border-radius: 8px;
    flex: 1;
    overflow: auto;
  }

  .action-container {
    padding-top: 20px;
    text-align: right;

    @media (max-width: helper.$breakpoint-mobile) {
      display: flex;
      gap: 10px;
      app-button {
        width: 50%;
      }
    }
  }
}
